<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index首页</title>
</head>
<body>
<h1 style="background-color: white"> 用户输入</h1>
<div id="vueDjango">
    <form action="/index/" method="post">
        <input type="text" name="username" />
        <input type="password" name="password" />
        <input type="submit"  value="提交" />
    </form>
    <tbody>
    {%  for line in data %}
        <tr>
            <td>{{ line.user }}</td>
            <td>{{line.pwd}}</td>
        </tr>
    {% endfor %}
    </tbody>
</div>
</body>
<script src="/static/js/jquery-1.11.1.js"  type="application/javascript"></script>
<script src="/static/js/vue.js" type="application/javascript"></script>
<script src="/static/js/index.js" type="application/javascript" ></script>
</html>